#customize-controls .control-section-elead .accordion-section-title:hover,
#customize-controls .control-section-elead .accordion-section-title:focus {
	background-color: #fff;
}

.control-section-elead .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}

.rtl .control-section-elead .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}

li#accordion-section-elead h3.accordion-section-title {
    background-color: #ffe4c4;
}
